<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Stock Management - Api</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
  <div>
    Welcome to Stock Management api
  </div>
  </body>
</html>